@font-face {
	font-family: "Noto";
	src: local("Noto"),
	url('./assets/fonts/NotoSans.ttf') format('truetype');
}

@font-face {
	font-family: "NotoItalic";
	src: local("NotoItalic"),
	url('./assets/fonts/NotoSansItalic.ttf') format('truetype');
	font-weight: soft;
}

:root {
  --highlight-color: #02cf79;
  --text-color: black;
  --inverse-text-color: white;
  --primary-color: #171717;
  --seconday-color: #E6E6E6;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 0rem;
  /* background-color: #0f1014; */
  background-color: #ffffff;
}

.title {
	font-family: "Noto";
	font-weight: 1000;
	font-size: 60px;
	color: var(--text-color);
}

.titleHighlight {
	color: var(--highlight-color);
}

.navbar {
	display: flex;
	flex-direction: row;
}

.navTab {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 5rem;
	font-weight: 500;
	font-family: "Noto";
	font-size: 20px;
	width: 100%;
	padding: 10px 15px;
	position: relative;
	background: none;
	cursor: pointer;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	min-width: 20px;
	user-select: none;
	color: var(--text-color);
}

.navUnderline {
	height: 4px;
	background: var(--text-color);
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 0;
	margin-top: 5rem;
	border: 0px;
}

.rollDisplay {
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 30px;
	flex: 0;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	margin-top: 10vh;
	text-align: center;
	/*border: 1px solid red;*/
}

.rollDisplay li {
	width: 30px;
	height: 30px;
	border-radius: 30px;
	display: block;
	background-color: var(--text-color);
	flex: 0 0 40px;
}

.rollResult {
	font-family: "Noto";
	font-weight: 600;
	font-size: 40px;
	color: var(--text-color);
	margin-top: 0px;
}

.primaryBtn {
    /*background-color: #91f2ff;*/
    background-color: var(--primary-color);
    border-radius: 8px;
    padding: 10px 20px;
    color: var(--inverse-text-color);
	font-family: "Noto";
	font-weight: 500;
	font-size: 20px;
	width: 150px;
	border: none;
}

.styled-input {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--seconday-color);
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  font-family: "Noto";
  resize: none;
  margin: 10px;
}

.styled-input:focus {
  border-color: var(--primary-color);
}

